<!DOCTYPE html>

<html>

<head>
  <title>Dash Board</title>
  <link rel="icon" href="/img/chatbot.png">
  <link rel="stylesheet" href="/css/dashboard.css">
</head>

<body>
    
    <div style="height: 40px;">
        <h1>Dash Board</h1>
        <div class="tab" >
            <button class="tabBtn" onclick="openChatHistory()">Chat History</button>
        </div>
    </div>
    <div>
        <div class="dashboard-menu">
        </div>
        <div class="Chat-display" id="chat-display">
        
            
            

        </div>
    </div>
    
</body>

<script src="/js/dashboard.js"></script>

</html>